<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>


      <RewriterRule>
        <LookFor>~/bookrank-(\d{1}).html</LookFor>
        <SendTo>~/bookrankmore.aspx?b=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/bookmore-(\d{1,20})-(\d{1,20}).html</LookFor>
        <SendTo>~/book_more.aspx?bid=$1&amp;pid=$2</SendTo>
      </RewriterRule>
     
    </Rules>
  </RewriterConfig>
  
  <appSettings>
    <add key="webName" value="某某平台" />
    <!--站点编号 -->
    <add key="webID" value="1" />
    <add key="webAdm" value="adminsc" />
    <add key="webUrl" value="http://www.yang.com:83" />
    <add key="webImg" value="http://img.shuchu.com" />
    <add key="webDomain" value="" />
    
    
    
    
    <!--记得更新 -->

    <!-- 默认数据库，用户库-->
    <add key="newconnstring" value="Data Source=.;Initial Catalog=companytemplate; User ID=sa;Password=sa123456;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;Connection Timeout=80000;packet size=1000" />
    <!-- 默认数据库，用户库-->
    
    <add key="LogType" value="Txt" />
    <add key="errdirectory" value="d:\temp\" />
    <!-- 短信接口地址 -->
    <add key="smsUrl" value="http://si.800617.com:4400/.aspx?" />
    <!-- 网站系统错误邮件接收地址 -->
    <add key="errmail" value="2363609963@qq.com" />

    <!-- 微信支付app-->
    <add key="wxPayMCHId" value="1000000"/>
    <add key="wxPayKey" value=""/>
    <add key="wxPayAppID" value="" />
    <add key="wxPayAppSect" value="" />
    <add key="wxPayRUrl" value="http://www.yang2.com:82/user/wxauthreturn.aspx" />

    <!-- 小程序appid & key-->
    <add key="wxPayXcxID" value="wxae392" />
    <add key="wxPayXcxSect" value="6dc09" />
    
    <!-- 支付-->
    <add key="ipayapp" value="0kDd5pqI4Yc1sLNiinC7"/>
    
    <add key="ipayId" value="1478137000000" />
    <add key="ipayKey" value="wNOSEF0kAgLg" />

    <add key="ipayQRId" value="147813766780000" />
    <add key="ipayQRKey" value="TKIwVUg" />

    <add key="ipayreturnurl" value="http://192.168.31.139:86/pay/ipayreturn.aspx" />
    <add key="ipaynotifyurl" value="http://192.168.31.139:86/pay/ipaynotify.aspx" />

    <add key="ipayqrreturnurl" value="http://192.168.31.139:86/pay/ipayqrreturn.aspx" />
    <add key="ipayqrnotifyurl" value="http://192.168.31.139:86/pay/ipayqrnotify.aspx" />


    <add key="DESKey" value="sc@admin" />
    <add key="LoginCookieName" value="sc_system_login" />
    <add key="LoginUserModuleCookieName" value="sc_system_rolemodule" />

    <add key="adminloginkey" value="abcd" />

  </appSettings>
  <system.web>
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ModuleRewriter" type="URLRewriter.ModuleRewriter, URLRewriter" preCondition="managedHandler" />
      <add name="all" type="URLRewriter.ModuleRewriter" preCondition="" />
      <add name="html1" type="URLRewriter.ModuleRewriter" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="htmlall" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="html" path=".html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
  </system.webServer>
</configuration>
