<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

  <appSettings>
    <add key="webDomain" value="" />
    
    <add key="newconnstring" value="Data Source=.;Initial Catalog=companytemplate; User ID=sa;Password=sa123456;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;Connection Timeout=80000;packet size=1000" />

    
    <add key="LogType" value="Txt" />
    <add key="errdirectory" value="d:\temp\" />

    <add key="DESKey" value="sc@admin" />
    <add key="LoginCookieName" value="sc_system_login" />
    <add key="LoginUserModuleCookieName" value="sc_system_rolemodule" />
    
  </appSettings>
</configuration>